<div *ngIf="user$ | async as user; else notLoggedIn" >

<!--user entered wrong credentials 
<div *ngIf="!user._id; then notLoggedIn"></div>-->

<!--user successfully logged in-->
  <ul id='navMenu' class="navbar-nav ml-auto" *ngIf="user._id;">

    <li class="nav-item" ngbDropdown>
      <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
        Notes
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" [routerLink]="['/editor']" [queryParams]="{topic:'Python'}">Python</a> 
        <a class="dropdown-item" [routerLink]="['/editor']" [queryParams]="{topic:'Other'}">Other</a>
      </div>
    </li>

    <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown2" role="button">
          Documents
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" [routerLink]="['/doc-viewer']" [queryParams]="{topic:'Python'}">Python</a> 
          <a class="dropdown-item" [routerLink]="['/doc-viewer']" [queryParams]="{topic:'Other'}">Other</a>
        </div>
      </li>

    <app-notification></app-notification>

    <app-spotify></app-spotify>
    <app-timer-icon></app-timer-icon>
    <app-google-search></app-google-search>


  </ul>
</div>

 <!--initial load -->
<ng-template #notLoggedIn>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="/login">Login</a>
      <a class="nav-link" routerLink="/signup">Signup</a>
      <a class="nav-link" routerLink="/about">About</a>
    </ul>
</ng-template>
