<div style='text-align: center;'>
    Python 3 Interpreter
</div>
<body style="margin:0px;padding:0px;overflow:hidden">


    <iframe style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:85%;width:100%;position:absolute;top:15%;left:0px;right:0px;bottom:0px" src="https://repl.it/repls/EmbarrassedKnowingMalware?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
</body>