

.parallax-directive {
  background-image: url(./../assets/buttons-contemporary-desktop-background-1157804.jpg);
  height: 100%;
  width: 100%;
}

.navbar-brand{
  padding: 10px 15px;
  height: 40px;
  line-height: 15px
}

  
  