<div style="overflow-y:auto">
    <li class="nav-item li_style">
            <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item li_style">
            <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item li_style">
            <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item li_style">
            <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item li_style">
            <a class="nav-link" href="#">Features</a>
    </li>

</div>


