<div style="overflow-y:auto">

        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action  li_style li_style disabled">
                        Python</a>
                <a href="#" class="list-group-item list-group-item-action active li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                
                
        </div>

</div>