<div style="overflow-y:auto; height:100%;width:25vw; word-wrap: break-word " class="bg-dark">
        <ul class="list-group">


                <div *ngIf="topicNotes$ | async as topicNotes">
                        <li
                                class="list-group-item list-group-item-action flex-column align-items-start disabled">

                                <h4 class="mb-1">{{topicNotes.notes[0].topic}} Notes</h4>
                </li>

                <li class="list-group-item list-group-item-action flex-column align-items-start" (click)="select(-1); onNewNoteClick()" [ngClass]="{'active': selectedIndex == -1}">

                <h5>Create New Note</h5>
                </li>

       

                        <li  (click)="select(i); onNoteClick(note)" *ngFor="let note of topicNotes.notes; let i=index" 
                        [ngClass]="{'active': selectedIndex == i}"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                              <!--   <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{note.name}}</h5>
                                        <small maxlength="10" class="text-muted">{{note.dateModified}}</small>
                                </div> -->
                                <div class="d-flex justify-content-end">
                                        <small  class="text-muted">{{note.dateModifiedString}}</small>

                                </div>
                                
                                <h5 class="mb-1">{{note.name}}</h5>
                               
                                <p class="mb-1">{{note.description}}</p>

                        </li>

                        



                </div>



        </ul>

</div>