<div  style="overflow-y:auto; height:100%;" class="bg-dark">

        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action  li_style li_style disabled"> 
                        Custom Uploads</a>
                <a href="#" class="list-group-item list-group-item-action active li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature</a>
                <a href="#" class="list-group-item list-group-item-action  li_style">Feature7</a>
                

                        
        </div>

</div>