<!--   <img src="../../assets/front-page.png" style="width:100vw;height:88vh" > -->

<body >
  <div id="wrapper" style='display:block'>
    <section id="intro" class="wrapper style1 fullscreen fade-up">
      <div class="inner fadeInCustom" >
        <h1>CS HUB</h1>
        <p>
          All your CS studying material and needs in one place
        </p>
        <ul class="actions">
            
          <li><a class="nav-link" routerLink="/signup" class="button scrolly">Sign up</a></li>
        </ul>
      </div>
    </section>

    <section id="one" class="wrapper style2 spotlights">
      <section>
     <img src="../../assets/images/landingpage-topics.png" style='width:20%;height:30%;margin-top: 5%;margin-left:5%' data-position="center center" />
        <div class="content">
          <div class="inner">
            <h2>Topics</h2>
            <p>
              A variety of topics to learn: Python, Java etc. with cliffnotes for each  
            </p>
            <ul class="actions"></ul>
          </div>
        </div>
      </section>

      <section>
        <!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a> -->
        <img src="../../assets/images/landingpage-notes.png" style='width:20%;height:30%;margin-top: 5%;margin-left:5%' data-position="top center" />
        <div class="content">
          <div class="inner">
            <h2>Custom Notes</h2>
            <p>
              Add your own notes for each topic. Embed and play youtube videos right on your notes 
            </p>
            <ul class="actions"></ul>
            
          </div>
        </div>
      </section>

      <section>
        <!-- <a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a> -->
        <img src="../../assets/images/landingpage-docs.png" style='width:15%;height:30%;margin-top: 5%;margin-left:5%' data-position="center center" />
        <div class="content">
          <div class="inner">
            <h2>Document Viewer</h2>
            <p>
              Upload and view PDF, MS Word, MS PowerPoint, MS Excel, and text files
            </p>
            <ul class="actions"></ul>
          </div>
        </div>
      </section>

      <section id="two" class="wrapper style3 fade-up">
        <div class="inner">
          <h2>Make your life easy</h2>
          <p>
            Widgets that will save you time
          </p>
          <div class="features">
            <section>
              <span class="fab fa-spotify fa-5x"></span>
         
              <h3>Spotify</h3>
              <p>
                Listen to your favorite playlist with studying
              </p>
            </section>
            <section>
              <span class="far fa-envelope fa-5x"></span>
             
              <h3>Set Reminders</h3>
              <p>
                Send yourself emails reminding you when your next study session is
              </p>
            </section>
            <section>
              <span class="fas fa-stopwatch fa-5x"></span>
             
            
              <h3>Break Time!</h3>
              <p>
                Forget to take breaks? Set a stop watch timer to notify you
              </p>
            </section>
            <section>
              <span class="fab fa-google fa-5x"></span>
              <h3>Google Search</h3>
              <p>
                No need to open a new tab to search for something, search right in CSHUB!
              </p>
            </section>
    
          </div>
          <ul class="actions"></ul>
        </div>
      </section>
    </section>

    <footer id="footer" class="wrapper style1-alt">
      <div class="inner">
        <ul class="menu">
          <li>Made By Silina George</li>
        </ul>
      </div>
    </footer>
  </div>
</body>
