<!-- <div parallax [config]="{axis: 'Y', speed: -.3}" class="parallax-directive">

        <div style="padding-bottom:60vh; background: transparent !important;"></div>


        <div class="card text-white bg-dark mb-3" style="width: 100%; height:30vh">

                <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in scelerisque tellus, eget sollicitudin libero. Duis lacinia metus id erat egestas, sit amet rhoncus ex luctus. Donec sodales, justo at blandit laoreet, arcu turpis cursus nulla, vitae sollicitudin orci libero iaculis felis. Duis eget diam ex. Integer et consectetur ligula. Nulla pellentesque vulputate ultrices. Nunc id tortor eleifend, lacinia arcu non, hendrerit nunc. Nullam diam orci, tempor non rutrum quis, sodales a nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam facilisis erat ac ipsum semper, quis finibus tortor malesuada. Donec blandit diam quam, ultricies eleifend eros pellentesque ac. Sed vel velit a magna cursus luctus. Maecenas augue turpis, cursus id pellentesque ac, fermentum ut enim. Proin sed leo euismod, auctor dolor posuere, tristique dolor.
                        </p>
                </div>
        </div>

        <div style="padding-bottom:60vh; background: transparent !important;"></div>


        <div class="card text-white bg-dark mb-3" style="width: 100%; height:30vh">

                <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in scelerisque tellus, eget sollicitudin libero. Duis lacinia metus id erat egestas, sit amet rhoncus ex luctus. Donec sodales, justo at blandit laoreet, arcu turpis cursus nulla, vitae sollicitudin orci libero iaculis felis. Duis eget diam ex. Integer et consectetur ligula. Nulla pellentesque vulputate ultrices. Nunc id tortor eleifend, lacinia arcu non, hendrerit nunc. Nullam diam orci, tempor non rutrum quis, sodales a nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam facilisis erat ac ipsum semper, quis finibus tortor malesuada. Donec blandit diam quam, ultricies eleifend eros pellentesque ac. Sed vel velit a magna cursus luctus. Maecenas augue turpis, cursus id pellentesque ac, fermentum ut enim. Proin sed leo euismod, auctor dolor posuere, tristique dolor.
                        </p>
                </div>
        </div>        <div style="padding-bottom:60vh; background: transparent !important;"></div>


        <div class="card text-white bg-dark mb-3" style="width: 100%; height:30vh">

                <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in scelerisque tellus, eget sollicitudin libero. Duis lacinia metus id erat egestas, sit amet rhoncus ex luctus. Donec sodales, justo at blandit laoreet, arcu turpis cursus nulla, vitae sollicitudin orci libero iaculis felis. Duis eget diam ex. Integer et consectetur ligula. Nulla pellentesque vulputate ultrices. Nunc id tortor eleifend, lacinia arcu non, hendrerit nunc. Nullam diam orci, tempor non rutrum quis, sodales a nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam facilisis erat ac ipsum semper, quis finibus tortor malesuada. Donec blandit diam quam, ultricies eleifend eros pellentesque ac. Sed vel velit a magna cursus luctus. Maecenas augue turpis, cursus id pellentesque ac, fermentum ut enim. Proin sed leo euismod, auctor dolor posuere, tristique dolor.
                        </p>
                </div>
        </div>

</div> -->




<ngb-carousel #carousel interval="2000" showNavigationArrows="false"

pauseOnHover="false">
    <ng-template ngbSlide >
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
      </div>
        <div >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxpIRD1OlRKKK5W_g_7I7HMvq9xsMGgnjjWn7WxqiZJvM-1Pg4" style="width:100vw;height:87.10vh">
        </div>
     
    </ng-template>
    <ng-template ngbSlide >
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div>
          <div >
            <img src="https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-038.jpg" style="width:100vw;height:87.10vh">
          </div>
       
      </ng-template>

      <ng-template ngbSlide >
          <div class="carousel-caption">
            <h3>My slide {{i + 1}} title</h3>
          </div>
            <div >
              <img src="https://images.wallpaperscraft.com/image/purple_white_background_stains_abstract_65537_1920x1080.jpg" style="width:100vw;height:87.10vh" >
            </div>
       
        </ng-template>

        <ng-template ngbSlide >
            <div class="carousel-caption">
              <h3>My slide {{i + 1}} title</h3>
            </div>
              <div >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeFH1Jg4GuGz1CxoGKlcqny0O996ibBbvdk165-v_8Blk4NrIH" style="width:100vw;height:87.10vh" >
              </div>
         
          </ng-template>
  </ngb-carousel>



