.parallax-container {
    height: 100%;
    width: 100%;
  }

  .parallax-directive {
    background-image: url(../../assets/buttons-contemporary-desktop-background-1157804.jpg);
    height: 100%;
    width: 100%;
  }

  
.carousel-control-prev:hover{
    background: rgba(0, 0, 0, 0.7);
}
.carousel-control-next:hover{
    background: rgba(0, 0, 0, 0.7);
}