
<div class="card bg-light mb-3 shadow-sm" style="max-width: 40%; margin:auto; margin-top: 1em">

    <div class="card-header">Login into CS HUB</div>
    <div class="card-body">
        <form>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control shadow-sm" id="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control shadow-sm" id="password" required>
        </div>

        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary shadow-sm">Login</button>
        </div>
        </form>
        <div><input type="image" style="width: 220px; height:68px"  src="../../assets/fb_login.png"></div>
        <div><input type="image"  style="width: 200px; height:40px; margin-left:8px" src="../../assets/google_signin.png"></div>
        


        
    </div>
</div>