<p style='text-align: center;'>{{topic}} Interpreter</p>

<div *ngIf="topic === 'Python'">
    <body style="margin-top:auto!important;margin:0px;padding:0px;overflow:hidden">
        <iframe style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:80%;width:100%;position:absolute;top:20%;left:0px;right:0px;bottom:0px" src="https://repl.it/repls/EmbarrassedKnowingMalware?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    </body>
</div>


<div *ngIf="topic === 'Java'">
    <body style="margin-top:auto!important;margin:0px;padding:0px;overflow:hidden">
        <iframe style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:80%;width:100%;position:absolute;top:20%;left:0px;right:0px;bottom:0px" src="https://repl.it/repls/HomelyGleamingForms?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
    </body>
</div>

