

<p style='text-align: center;'>{{topic}} Interpreter</p>

<div *ngIf="topic === 'Python'">
    <body>
        <iframe style="height:85vh;width:100%;overflow-y: scroll;" src="https://www.jdoodle.com/python3-programming-online" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> 
    </body>
</div>


<div *ngIf="topic === 'Java'" style="overflow-y: hidden;">
    <body>
        <iframe style="height:85vh;width:100%;overflow-y: scroll;" src="https://www.jdoodle.com/online-java-compiler" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> 
    </body>
</div>

