<h1 mat-dialog-title>{{action}}:{{local_data.name}}</h1>
<div mat-dialog-content style="min-height: 20vh!important">
  <div *ngIf="action != 'Delete'; else elseTemplate" >
        <form [formGroup]="saveNoteFormGroup" (ngSubmit)="UpdateClick()">
            <div class="modal-body">


                <mat-form-field style="width: 90%!important">
                    <input matInput type="text" placeholder="Name" autocomplete="off" maxlength="50"
                        formControlName="name">
                        <mat-error>Please enter name</mat-error>
                </mat-form-field>
                
                <br>

                <mat-form-field style="width: 90%!important">

                    <textarea style='resize: none;' matInput type="text" placeholder="Description" rows='4'
                        maxlength="210" formControlName="description"></textarea>

                </mat-form-field>

                <div mat-dialog-actions>
                    <button type='submit' class="btn btn-primary shadow-sm mr-auto" [disabled]="saveNoteFormGroup.invalid">{{action}}</button>
                    
                    <button type='button' mat-button (click)="closeDialog()" class="btn btn-secondary shadow-sm">Cancel</button>
                  </div>

            </div>
        </form>


  
  </div>
  <ng-template #elseTemplate>
    Are you sure you want to delete <b>{{local_data.name}}</b>?

    <div mat-dialog-actions>
        <button  (click)="DeleteClick()" class="btn btn-primary shadow-sm mr-auto">{{action}}</button>
        <button (click)="closeDialog()" class="btn btn-secondary shadow-sm">Cancel</button>
      </div>

  </ng-template>
</div>

