<script src="https://apis.google.com/js/platform.js" async defer></script>


<div class="card bg-light mb-3 shadow-sm" style="max-width: 40%; margin:auto; margin-top: 20vh">

    <div class="card-header">Login into CS HUB</div>
    <div class="card-body">

        <div *ngIf="error$ | async as error">
            <ul *ngIf="error$ | async as error">
                <li style="color:red" *ngFor="let msg of error.msgs">{{msg}}</li>
            </ul>

        </div>

        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field style="margin-right:25%">
                    <input matInput type='email' placeholder="Email" formControlName="email" maxlength="50">
                    <mat-error>Please enter a valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type='password' placeholder="Password" minlength="6" formControlName="password">
                    <mat-error>Please enter a valid password
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: center;">

                <button mat-raised-button type='submit' [disabled]="loginFormGroup.invalid"
                    class="btn btn-primary shadow-sm">Login
                    <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>
                </button>





            </div>



        </form>

        <a class="nav-link" href="/auth/facebook">
            <img src='../../assets/fb_login.png' style="width: 220px; height:68px" >
        </a>


        <a class="nav-link" href="/auth/google">
            <img src='../../assets/google_signin.png' style="width: 200px; height:40px; margin-left:8px" >
        </a>


</div>
