<script src="https://apis.google.com/js/platform.js" async defer></script>


<div class="card bg-light col-xs-5 col-sm-5 col-lg-4 " style="margin:auto; margin-top: 2vh">

    <div class="card-header">
        <span class="material-icons">person</span>
        Login into CS HUB
    </div>
    <div class="card-body">

        <div class="alert alert-dismissible alert-danger" *ngIf="error$ | async as error">
            <ul>
              <li style="color:red" *ngFor="let msg of error.msgs">{{msg}}</li>
  
            </ul>
          </div>

        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field style="margin-right:25%;">
                    <input matInput type='email' placeholder="Email" formControlName="email" maxlength="50">
                    <mat-error>Please enter a valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type='password' placeholder="Password" minlength="6" formControlName="password">
                    <mat-error>Please enter a valid password
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: center;">

                <button  type='submit' [disabled]="loginFormGroup.invalid"
                    class="btn btn-primary shadow-sm">Login
                    <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>
                </button>





            </div>



        </form>

        <a class="nav-link" href="/auth/facebook">
            <img src='../../assets/images/fb_login.png' style="width: 220px;" >
        </a>


        <a class="nav-link" href="/auth/google">
            <img src='../../assets/images/google_signin.png' style="width: 200px; margin-left:8px" >
        </a>


</div>
