<div class="card bg-light mb-3 shadow-sm" style="max-width: 40%; margin:auto; margin-top: 1em">

    <div class="card-header">Login into CS HUB</div>
    <div class="card-body">
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field style="margin-right:25%">
                    <input matInput type='email' placeholder="Email" formControlName="email" maxlength="50">
                    <mat-error *ngIf="email?.invalid">Please enter a valid email</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type='password' placeholder="Password" minlength="6" formControlName="password" >
                    <mat-error *ngIf=" password?.invalid && password?.touched">Please enter a valid password
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: center;">
                <button mat-raised-button type='submit' [disabled]="loginFormGroup.invalid" class="btn btn-primary shadow-sm">Login
                </button>
            </div>

        </form>
        <div><input type="image" style="width: 220px; height:68px" src="../../assets/fb_login.png"></div>
        <div><input type="image" style="width: 200px; height:40px; margin-left:8px"
                src="../../assets/google_signin.png"></div>

    </div>
</div>