<mat-drawer-container style="z-index:0!important;height:87vh;width:100%">

  <mat-drawer #docsidenav mode="side" opened='true'>
    <div style="overflow-y:auto; height:100%;width:25vw; word-wrap: break-word;" class="bg-dark">
      <ul class="list-group">


        <div *ngIf="metaDocs">
          <li class="list-group-item list-group-item-action flex-column align-items-start disabled">

            <h4 class="mb-1">{{topic}} Documents</h4>
          </li>
          <li class="list-group-item list-group-item-action flex-column align-items-start"
            (click)="openUploadDocModal()" [ngClass]="{'active': selectedIndex == -1 || metaDocs.docs.length == 0}">

            <h5>Upload New Document</h5>
          </li>

          <li (click)="onDocClick(doc, i)" *ngFor="let doc of metaDocs.docs; let i=index"
            [ngClass]="{'active': selectedIndex == i}"
            class="list-group-item list-group-item-action flex-column align-items-start">

            <!--   <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">{{notse.name}}</h5>
                                                        <small maxlength="10" class="text-muted">{{note.dateModified}}</small>
                                                </div> -->
            <div class="d-flex justify-content-end">
              <small class="text-muted">{{doc.dateModifiedString}}</small>

            </div>

            <h5 class="mb-1">{{doc.name}}</h5>
            <p class="mb-1">{{doc.description}}</p>

          </li>
        </div>
      </ul>
    </div>




  </mat-drawer>

  <mat-drawer-content>

    <ng-container *ngIf="selectedIndex != -1">
      <div style="position: absolute;" cdkDrag>
        <mcc-speed-dial direction='right' animation="scale" mouseHover='false' spin='true' matTooltip="Drag me"
          matTooltipShowDelay="1000" matTooltipHideDelay="0">

          <!-- This icon can be anything you want -->
          <mat-icon>add</mat-icon>

          <mcc-speed-dial-actions>
            <button mat-mini-fab matTooltip="Edit name & description" matTooltipShowDelay="1000" matTooltipHideDelay="0"
              (click)='openUpdateDocModal()'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Delete file" matTooltipShowDelay="1000" matTooltipHideDelay="0"
              (click)='onDeleteClick()'>
              <mat-icon>delete</mat-icon>
            </button>
          </mcc-speed-dial-actions>
        </mcc-speed-dial>

      </div>

      <div>

        <div class="alert alert-dismissible alert-danger" *ngIf="error$ | async as error">
          <ul>
            <li style="color:red" *ngFor="let msg of error.msgs">{{msg}}</li>

          </ul>
        </div>

        <ngx-doc-viewer [url]="url" viewer="google" style="width:100%;height:87vh;"></ngx-doc-viewer>
        


      </div>
    </ng-container>


    <!-- upload new doc modal -->
    <div id="uploadDocModal" class="modal" style="display:none; background: rgba(0,0,0,0.6);" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload Document</h5>
            <button type="button" class="close" (click)="closeUploadDocModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">



            <form [formGroup]="uploadDocFormGroup" (ngSubmit)="onUploadClick()">
              <div class="modal-body">




                <mat-form-field style="width: 90%!important">
                  <input matInput type="text" placeholder="Name" autocomplete="off" maxlength="50"
                    formControlName="name">
                  <mat-error>Please enter name</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field style="width: 90%!important">

                  <textarea style='resize: none;' matInput type="text" placeholder="Description" rows='4'
                    maxlength="210" formControlName="description"></textarea>

                </mat-form-field>

                <label for="file">Accepted extensions: .pdf, .doc(x), xls(x), ppt(x), .txt</label> <br>
                <label for="file">Max file size: 5MB</label> <br>
                <input type="file" id="file" formControlName="file" class="file-upload" data-max-file-size="45M" accept=".txt,text/plain,
                                        .doc, application/msword,
                                         .docx, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                         .xls, application/excel,application/vnd.ms-excel,application/x-excel, application/x-msexcel,
                                         .xlsx, 	
                                         application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
                                         .ppt, application/mspowerpoint,application/powerpoint, application/vnd.ms-powerpoint,
                                         application/x-mspowerpoint,
                                         .pptx, application/vnd.openxmlformats-officedocument.presentationml.presentation,
                                         .pdf, application/pdf,
                                         ,txt, text/plain" 
                                         (change)="handleFileInput($event.target.files)"
                  (input)='checkFile()'>

                <span style='color:red' *ngIf="file?.invalid && file?.touched">
                  Invalid file format
                </span>



              </div>
              <div class="modal-footer text-center">

                <button type="submit" [disabled]="uploadDocFormGroup.invalid" class="btn btn-primary mr-auto">Upload
                  <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>
                </button>
                <button type="button" class="btn btn-secondary" (click)="closeUploadDocModal()">Close</button>


              </div>
            </form>


          </div>
        </div>
      </div>
    </div>





    <!-- update doc modal -->
    <div id="updateDocModal" class="modal" style="display:none; background: rgba(0,0,0,0.6);" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Document</h5>
            <button type="button" class="close" (click)="closeUpdateDocModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">



            <form [formGroup]="updateDocFormGroup" (ngSubmit)="onUpdateClick()">
              <div class="modal-body">




                <mat-form-field style="width: 90%!important">
                  <input matInput type="text" placeholder="Name" autocomplete="off" maxlength="50"
                    formControlName="updatename">
                  <mat-error>Please enter name</mat-error>
                </mat-form-field>
                <br>

                <mat-form-field style="width: 90%!important">

                  <textarea style='resize: none;' matInput type="text" placeholder="Description" rows='4'
                    maxlength="210" formControlName="updatedescription"></textarea>

                </mat-form-field>

              </div>
              <div class="modal-footer text-center">

                <button type="submit" [disabled]="updateDocFormGroup.invalid" class="btn btn-primary mr-auto">Update
                  <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>
                </button>
                <button type="button" class="btn btn-secondary" (click)="closeUpdateDocModal()">Close</button>


              </div>
            </form>


          </div>
        </div>
      </div>
    </div>



  </mat-drawer-content>
</mat-drawer-container>