<div class="card bg-light shadow-sm col-xs-5 col-sm-5 col-lg-6" style="margin:auto;  margin-top: 2vh">
    <!--header-->
    <div class="card-header">
        <span class="material-icons">person_add</span>
        Sign up to CS HUB</div>
    
    <!--body-->
    <div class="card-body">
        <div class="alert alert-dismissible alert-danger" *ngIf="error$ | async as error">
            <ul>
                <li style="color:red" *ngFor="let msg of error.msgs">{{msg}}</li>
            </ul>
        </div>

        <!--forum-->
        <form [formGroup]="signupFormGroup" (ngSubmit)="onSubmit()">
            <mat-form-field style="margin-right:25%">
                <input matInput type="text" formControlName="firstname" maxlength="50">
                <mat-label>First Name</mat-label>
                <mat-error>Please enter first name (alphabet only)</mat-error>
            </mat-form-field>


            <mat-form-field>
                <input matInput type="text" formControlName="lastname" maxlength="50">
                <mat-label>Last Name</mat-label>
                <mat-error>Please enter last name (alphabet only)</mat-error>
            </mat-form-field>


            <mat-form-field style="margin-right:25%">
                <input matInput formControlName="email" maxlength="50">
                <mat-label>Email</mat-label>
                <mat-error>Please enter a valid email</mat-error>
            </mat-form-field>



            <mat-form-field>
                <input matInput type='password' placeholder="Password" minlength="6" maxlength="18"
                    formControlName="password" (input)="onPasswordInput()">
                <mat-error>Please enter a valid password</mat-error>
                <mat-label>Password</mat-label>
                <mat-hint>6-18 characters</mat-hint>
            </mat-form-field>


            <mat-form-field style="margin-right:25%">
                <input matInput type='password' placeholder="Verify password" minlength="6" maxlength="18"
                    formControlName="verifypassword" (input)="onPasswordInput()">
                <mat-error
                    *ngIf="verifypassword?.invalid && verifypassword?.touched && verifypassword?.hasError('required')">
                    Please verify password
                </mat-error>
                <mat-error *ngIf="verifypassword?.invalid && !verifypassword?.hasError('required')">Passwords don't
                    match</mat-error>
            </mat-form-field>

            <!--buttons-->
            <div style="text-align: center; margin-top:3em">
                <button type="submit" [disabled]="signupFormGroup.invalid" class="btn btn-primary shadow-sm">Sign up
                    <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>
                </button>
            </div>

        </form>
        
        <a class="nav-link" href='{{facebookURL}}' style="width: 220px;" >
            <img src='../../assets/images/fb_login.png' style="width: 220px;" >
        </a>


        <a class="nav-link" href='{{googleURL}}' style="width: 200px;">
            <img src='../../assets/images/google_signin.png' style="width: 200px; margin-left:8px" >
        </a>

    </div>
</div>