

    <textarea id="note" [ngxSummernote]='editorConfig' [(ngModel)]="content"></textarea>




<div style="margin-left: 47%">
<button  mat-raised-button (click)="openModal()"
                    class="btn btn-primary shadow-sm">Save
                    <!--<app-loading-spinner *ngIf='loading$|async'></app-loading-spinner>-->
                </button>
</div>




<div  id="saveNote" class="modal" style="display:none; background: rgba(0,0,0,0.6);" role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Note</h5>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="saveNoteFormGroup" (ngSubmit)="onSave()">
            <div class="modal-body">

                    
                            <mat-form-field style="width: 90%!important">
                                <input matInput type="text" placeholder="Name" autocomplete="off" maxlength="50"
                                    formControlName="name">
                            </mat-form-field>
                            <br>

                            <mat-form-field style="width: 90%!important">
                                    <textarea style='resize: none;' matInput type="text" placeholder="Description" rows='4' maxlength="210"  formControlName="description"></textarea>
                                </mat-form-field>
                           

                

            </div>
            <div class="modal-footer text-center">
               
                    <button type="submit" [disabled]="saveNoteFormGroup.invalid" class="btn btn-primary mr-auto">Save
                            <!-- <app-loading-spinner *ngIf='loading$|async'></app-loading-spinner> -->
                        </button>
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    
                
            </div>
        </form>
        
        </div>
    </div>
</div>





