<div style="position: absolute;" cdkDrag>
        <mcc-speed-dial direction='right' animation="scale" mouseHover= 'false' spin='true'
        matTooltip="Drag me" matTooltipShowDelay="1000"
        matTooltipHideDelay="0">
        
                <!-- This icon can be anything you want -->
                <mat-icon>add</mat-icon>
            
                <mcc-speed-dial-actions >
                  <button mat-mini-fab matTooltip="Edit name & description" matTooltipShowDelay="1000"
                  matTooltipHideDelay="0">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-mini-fab matTooltip="Delete file" matTooltipShowDelay="1000"
                  matTooltipHideDelay="0">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mcc-speed-dial-actions>
              </mcc-speed-dial>
            
</div>

<div >

    <div class="alert alert-dismissible alert-danger" *ngIf="error$ | async as error">
        <ul >
            <li style="color:red" *ngFor="let msg of error.msgs">{{msg}}</li> 

        </ul>
    </div>

  <div class="form-group">
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           class="file-upload"
            data-max-file-size="5M"
           accept=".txt,text/plain,
            .doc, application/msword,
             .docx, application/vnd.openxmlformats-officedocument.wordprocessingml.document,
             .xls, application/excel,application/vnd.ms-excel,application/x-excel, application/x-msexcel,
             .xlsx, 	
             application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
             .ppt, application/mspowerpoint,application/powerpoint, application/vnd.ms-powerpoint,
             application/x-mspowerpoint,
             .pptx, application/vnd.openxmlformats-officedocument.presentationml.presentation,
             .pdf, application/pdf"
           (change)="handleFileInput($event.target.files)">
</div>


<button (click)='onUploadClick()'>Upload</button>


<ngx-doc-viewer [url]="doc" viewer="google" style="width:100%;height:87.5vh;">


</ngx-doc-viewer>

</div>    


